div {
  width: 50%;
  margin: 0.5rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(200, 200, 200);

  a, p {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}